/* Storage:

_____________________________Colors

Normal Colors: https://color.adobe.com/create/color-wheel/?base=2&rule=Analogous&selected=4&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.4404617683169151,0.8473045723646647,1,0.4008202091683927,0.91,0.49165311229604036,1,0.9772432521868214,0.4904617683169151,0.91,0.6792978607714358,0.4008202091683927,1,0.4274508806817878,0.4817725393616298&swatchOrder=0,1,2,3,4
sky-blue = 70D8FF
light-green = 66E87D
yellow = FFF97D
orange = E8AD66
pale-red = FF6D7B

Faded Colors: https://color.adobe.com/create/color-wheel/?base=2&rule=Analogous&selected=2&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.775918208986073,0.9523246670016677,1,0.7060855701773264,0.91,0.7292737385264519,1,0.9882150474338461,0.825918208986073,0.91,0.8108136501391285,0.7060855701773264,1,0.7629073213509459,0.8124921238830154&swatchOrder=0,1,2,3,4
faded-blue = C6F3FF
faded-green = B4E8BA
faded-yellow = FFFCD3
faded-brown = E8CFB4
faded-pink = FFC3CF

facebook-color = #3b5998
twitter-color = #55ACEE
LinkedIn-color = #0077B5
Github = #333333

_____________________________


*/


/* Document level adjustments (start) ============================== */
html {
  font-size: 17px;
}
@media (max-width: 900px) {
  html { font-size: 15px; }
}
@media (max-width: 400px) {
  html { font-size: 13px; }
}

body {
	padding-top: 70px;

}
/* Document level adjustments (end) ============================== */


/* Top nav-bar (start) ============================== */

/* Top nav-bar shadow hover effect (start) */
.navbar {
	box-shadow: 0 15px 15px -10px gray;
	transition: box-shadow 0.5s;
}

.navbar:hover {
	box-shadow: 0 30px 30px -15px gray;
}
/* Top nav-bar shadow hover effect (end) */

/* Top nav-bar shadow hover effect for buttons (start) */
.navbar li {
	transition: box-shadow 1s;
}

.navbar li:hover {
	box-shadow: 20px 0px 20px -10px gray;
}

.navbar-right li:hover {
	box-shadow: -20px 0px 20px -10px gray;
}

.navbar a {
	transition: box-shadow 1s;
}

.navbar a:hover {
	box-shadow: 0 20px 20px -10px gray;
}
/* Top nav-bar shadow hover effect for buttons (end) */


/* Change social icon colors (start) */
.fa-facebook {color: #3b5998;}
.fa-twitter{color: #55ACEE;}
.fa-linkedin{color: #0077B5;}
.fa-github{color: #333333;}
/* Change social icon colors (end) */

/* Button colors (start) */
#YSA-button {
	background-color: #D3D3D3;
	z-index: 5;
}
#education-button {
	background-color: #FFC3CF;
	z-index: 4;
}
#experience-button {
	background-color: #E8CFB4;
	z-index: 3;
}
#projects-button {
	background-color: #FFFCD3;
	z-index: 2;
}
#skills-button {
	background-color: #B4E8BA;
	z-index: 1;
}
#resume-button {
	background-color: #C6F3FF;
	z-index: 0;
}
/* Button colors (end) */

/* Top nav-bar (end) ============================== */


/* Block quote (start) ============================== */
blockquote {
	opacity: 1;
}

.full-quote {
	width: 100%;
	padding: 0 10% 0 10%;
	box-shadow: 0 15px 15px -10px gray;
	transition: box-shadow 0.5s;
}

.full-quote:hover {
	box-shadow: 0 30px 30px -15px gray;
}

/* Quote colors (start) */
#full-quote-index {
	background-color: #D3D3D3;
}
#full-quote-education {
	background-color: #FFC3CF;
}
#full-quote-skills {
	background-color: #B4E8BA;
}
/* Quote colors (end) */

/* Block quote (end) ============================== */


/* Side navbar (start) ============================== */

/* Side navbar hide sub sections (start) */
.bs-docs-sidenav > li > ul {
	display: none;
}
/* Side navbar hide sub sections (end) */

/* Side navbar hover shadow effect (start) */
.bs-docs-sidenav {
	box-shadow: 15px 15px 15px -10px gray;
	transition: box-shadow 0.5s;
}

.bs-docs-sidenav:hover {
	box-shadow: 30px 30px 30px -15px gray;
}
/* Side navbar hover shadow effect (end) */

/* Side navbar text (start) */
.bs-docs-sidenav li {
	font-size: 15px;
}

.bs-docs-sidenav li li {
	font-size: 12px;
/*	text-indent: 1em;
*/}
/* Side navbar text (end) */

/* Side navbar hover shadow effect for buttons (start) */
.bs-docs-sidenav a {
	transition: box-shadow 1s;
}

.bs-docs-sidenav a:hover {
	box-shadow: 0 20px 20px -10px gray;
}
/* Side navbar hover shadow effect for buttons (end) */

/* Side navbar (end) ============================== */


/* Main text (start) ============================== */

/* content-title shadow hover (start) */
.content-title {
	box-shadow: 0 15px 15px -10px gray;
	transition: box-shadow 0.5s;
}

.content-title:hover {
	box-shadow: 0 30px 30px -10px gray;
}

.content-subtitle {
	box-shadow: 0 10px 10px -10px gray;
	transition: box-shadow 0.5s;
}

.content-subtitle:hover {
	box-shadow: 0 20px 20px -10px gray;
}
/* content-title shadow hover (end) */

/* text padding and alignment (start) */
h5 {
	padding-left:  20px;
	padding-right: 20px;
}
.pad-text {
	padding-left:  20px;
	padding-right: 20px;
}
/* text padding and alignment (end) */

/* Main text (end) ============================== */


/* Images (start) ============================== */

/* Images general style (start) */
.img-responsive {
	max-width: 100%;
	style: float;
}
/* Images general style (end) */

/* Images hover shadow effect (start) */
.img-right {
	box-shadow: -20px 20px 20px -10px gray;
	transition: box-shadow 0.5s;
}

.img-right:hover {
	box-shadow: -40px 40px 40px -20px gray;
}

.img-center{
	box-shadow: 0 20px 20px -10px gray;
	transition: box-shadow 0.5s;
}

.img-center:hover {
	box-shadow: 0 40px 40px -20px gray;
}

.img-left {
	box-shadow: 20px 20px 20px -10px gray;
	transition: box-shadow 0.5s;
}

.img-left:hover {
	box-shadow: 40px 40px 40px -20px gray;
}
/* Images hover shadow effect (end) */

/* Images centering (start) */
.center-img {
	margin-left: auto;
    margin-right: auto;
}
/* Images centering (end) */

/* Images (end) ============================== */



