/* Storage:

_____________________________Colors

Normal Colors: https://color.adobe.com/create/color-wheel/?base=2&rule=Analogous&selected=4&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.4404617683169151,0.8473045723646647,1,0.4008202091683927,0.91,0.49165311229604036,1,0.9772432521868214,0.4904617683169151,0.91,0.6792978607714358,0.4008202091683927,1,0.4274508806817878,0.4817725393616298&swatchOrder=0,1,2,3,4
sky-blue = 70D8FF
light-green = 66E87D
yellow = FFF97D
orange = E8AD66
pale-red = FF6D7B

Faded Colors: https://color.adobe.com/create/color-wheel/?base=2&rule=Analogous&selected=2&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.775918208986073,0.9523246670016677,1,0.7060855701773264,0.91,0.7292737385264519,1,0.9882150474338461,0.825918208986073,0.91,0.8108136501391285,0.7060855701773264,1,0.7629073213509459,0.8124921238830154&swatchOrder=0,1,2,3,4
faded-blue = C6F3FF
faded-green = B4E8BA
faded-yellow = FFFCD3
faded-brown = E8CFB4
faded-pink = FFC3CF

facebook-color = #3b5998
twitter-color = #55ACEE
LinkedIn-color = #0077B5
Github = #333333

_____________________________


*/


/* Document level adjustments */
html {
  font-size: 17px;
}
@media (max-width: 900px) {
  html { font-size: 15px; }
}
@media (max-width: 400px) {
  html { font-size: 13px; }
}

body {
	padding-top: 70px;

}

/* Change social icon colors (start)  */
.fa-facebook {color: #3b5998;}
.fa-twitter{color: #55ACEE;}
.fa-linkedin{color: #0077B5;}
.fa-github{color: #333333;}
/* Change social icon colors (end)  */

blockquote {
	opacity: 0.5;
}

